In [1]:
# Notebook para exploração inicial dos datasets "Meteorite Landings" e "Meteorite Landings on Earth"
import pandas as pd

df1 = pd.read_csv("datasets/meteorite_landings.csv", on_bad_lines='warn') # Dataset 1: Meteorite Landings
df1.head(3) # pra vcs checarem as variáveis

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"

In [2]:
df2 = pd.read_csv("datasets/meteorite_landings_on_earth.csv", on_bad_lines='warn') # Dataset 2: Meteorite Landings on Earth
df2.head(3)

,Unnamed: 0,id,meteorite_name,nametype,recclass,fall,year,mass,location,location_code,location_type,distance,latitude,longitude,lat_lng
0,1,1,Aachen,Valid,L5,Fell,1880.0,21.0,Germany,DE,land,0.0,50.7750,6.0833,"50.775,6.0833"
1,2,2,Aarhus,Valid,H6,Fell,1951.0,720.0,Denmark,DK,land,0.0,56.1833,10.2333,"56.1833,10.2333"
2,3,6,Abee,Valid,EH4,Fell,1952.0,107000.0,Canada,CA,land,0.0,54.2167,-113.0000,"54.2167,-113"