In [5]:
# Notebook para exploração inicial dos datasets "Meteorite Landings" e "Meteorite Landings on Earth"
import pandas as pd
import numpy as np
import math

df1 = pd.read_csv("datasets/meteorite_landings.csv", on_bad_lines='warn') # Dataset 1: Meteorite Landings
df1.head(3) # pra vcs checarem as variáveis

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"

In [2]:
df2 = pd.read_csv("datasets/meteorite_landings_on_earth.csv", on_bad_lines='warn') # Dataset 2: Meteorite Landings on Earth
df2.head(3)

,Unnamed: 0,id,meteorite_name,nametype,recclass,fall,year,mass,location,location_code,location_type,distance,latitude,longitude,lat_lng
0,1,1,Aachen,Valid,L5,Fell,1880.0,21.0,Germany,DE,land,0.0,50.7750,6.0833,"50.775,6.0833"
1,2,2,Aarhus,Valid,H6,Fell,1951.0,720.0,Denmark,DK,land,0.0,56.1833,10.2333,"56.1833,10.2333"
2,3,6,Abee,Valid,EH4,Fell,1952.0,107000.0,Canada,CA,land,0.0,54.2167,-113.0000,"54.2167,-113"

- Aqui faremos uma verificação do ano em que o meteorito foi descoberto, pois existem algumas incoerências. 
  
  Faremos essa verificação utilizando como base o site [The Meteoritical Society](https://www.lpi.usra.edu/meteor/metbull.php).

In [15]:

years_bug = [i for i in df1['year'] if i >= 2016 or i <= 860 ] # pega os anos incoerentes

index_bug = [i for i in df1.index if df1.loc[i, 'year'] in years_bug] # pega os índices dos elementos problemáticos 

name_years_bug = [df1['name'].loc[i] for i in df1.index if df1.loc[i, 'year'] in years_bug] # pega o nome dos elementos para a verificação no site

print(name_years_bug)
index_bug

['Nogata', 'Havana', 'Northwest Africa 7701', 'Ur', 'Wietrzno-Bobrka']

[703, 16356, 30679, 38188, 38301]

- Agora vamos corrigir as informações no dataframe:

In [16]:
df1.loc[703,'year'] = 861
df1.loc[16356,'year'] = -300
df1.loc[30679,'year'] = 2010
df1.loc[38188, 'year'] = -2500 # '-' possivelmente significa antes de cristo
df1.loc[38301,'year'] = -600

# De acordo com os autores do dataset, esses anos são "anos antes de cristo"

### Calculando as medidas de centralidade da variável 'mass'

- Media

In [ ]:
#remove os valores nan antes de calcular a média na coluna 'mass'
np.nanmean(df1['mass'])

13278.078548601516

- Mediana

In [101]:
np.nanmedian(df1['mass'])

32.6

### Agora calculando as medidas de dispersão da variável 'mass'

- Variância

In [4]:
variancia_massa = np.var(df1['mass'])

variancia_massa

330604955342.3177

- Desvio Padrão

In [12]:
desvio_massa = math.sqrt(variancia_massa)
desvio_massa

574982.5695986946